<div>
  <div class="kc-repository">
    <mat-card class="repo-container mt-4">
      <div class="w-32 ml-auto" (click)="openDialog()">
        <button class="kc-create-button text-center cursor-pointer">
          Add New
        </button>
      </div>
      <div class=" pt-4">
        <div
          class="w-full h-full"
          gdColumns="1fr 1fr 1fr 1fr"
          gdColumns.md="1fr 1fr 1fr"
          gdColumns.lt-md="1fr 1fr"
          gdColumns.lt-sm="1fr"
          gdColumns.lt-xs="1fr"
          gdGap="16px"
        >
          <div *ngFor="let repo of repoArray; let i = index">
            <div
              class=" cluster-card cursor-pointer transition duration-1000"
              [routerLink]="['/repository', repo.id]"
            >
              <span class="flex justify-between">
                <div class="flex gap-3 pl-3">
                  <img
                    class="w-10 h-10"
                    src="../../../assets/images/logos/repo.svg"
                    alt=""
                  />
                  <h1 class="text-sm font-semibold tracking-wider pt-1">
                    Repository- {{ i + 1 }}
                  </h1>
                </div>
                <img
                  *ngIf="repo.type == 'GITHUB'"
                  class="w-7 h-7 mt-3 mr-2"
                  src="../../../assets/images/logos/github.svg"
                  alt=""
                />
                <img
                  *ngIf="repo.type.lowercase == 'GITLAB'"
                  class="w-7 h-7 mt-3 mr-2"
                  src="../../../assets/images/logos/gitlab.svg"
                  alt=""
                />
                <img
                  *ngIf="repo.type == 'BIT_BUCKET'"
                  class="w-7 h-7 mt-3 mr-2"
                  src="../../../assets/images/logos/bitbucket.svg"
                  alt=""
                />
              </span>
              <div class="ml-3">
                <button
                  class="px-2 py-[5px] rounded bg-dark-container text-xs cursor-pointer flex items-center justify-center gap-1"
                >
                  <mat-icon class="text-xl">widgets</mat-icon>
                  <span class="mt-1" *ngIf="repo.applications.length>0; else applist"
                    >
                    Applications({{ repo.applications.length}})
                  </span>
                  <ng-template #applist>
                    <span class="mt-1">No Application added</span>
                  </ng-template>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading" class="uploader-status p-5">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </mat-card>
  </div>
</div>
