.kc-repository {
  width: 100%;
  @apply flex justify-center items-center;
}

.repo-container {
  min-height: 85vh;
  @apply w-full h-full mx-7 bg-dark-background-5;
}

.kc-create-button {
  @apply bg-dark-border-default hover:text-dark-background-5 hover:bg-white transition duration-500 w-full py-2 mx-auto rounded-[50px] text-base  tracking-wide flex items-center justify-center gap-2;
}

.card-container {
}

.cluster-card {
  @apply bg-[#1A2C4A] border;
  border: 1.5px solid #495c7d;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

  div {
    @apply py-4;
  }
}
