.example-container {
  height: 100vh;
  color: white;
  background-color: #0d1527;
}
.example-sidenav {
  background-color: #131d35;
  border-right: 1px solid #495c7d;
}
.content-body {
  //   //   height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1527;
}
