  <kc-progress-bar></kc-progress-bar>
  <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer [ngClass]="collapsed == true ? 'example-sidenav  relative ' : 'example-sidenav relative w-[260px]'" opened mode="side">
    <button (click)="toggleCollapse()" class="absolute top-[31px] right-3  z-50" >
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-dark-primary opacity-30"></span>
      <mat-icon *ngIf="!collapsed" class="text-sm relative top-[2px]">radio_button_checked</mat-icon>
    </button>
    
    <div [ngClass]="collapsed == true ? 'kc-sidebar bg-dark-background-default hidden transition duration-500' : 'kc-sidebar bg-dark-background-default xl:block hidden transition duration-500'">
      <app-sidebar></app-sidebar>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content relative">
    <div
      class="flex justify-between items-center  p-5"
    >
    <button (click)="toggleCollapse()" class=" absolute top-[26px] left-2  z-50" >
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-dark-primary opacity-50"></span>
      <mat-icon *ngIf="collapsed" class="text-sm text-green-500 top-[2px] relative">radio_button_unchecked</mat-icon>
    </button>
      <div class="capitalize text-2xl font-medium tracking-wide transition ease-out duration-500  " [ngClass]="!collapsed?'pl-2':'pl-5'">{{data?.title}}</div>
      <div>
        <app-header></app-header>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
