.kc-login-right-bg {
  background: url(../../../assets/images/bg/login-right-bg-dark.svg) center
    top/100% 100% repeat-y;

}
.kc-card-border {
  border-width: 2.5px !important;
  padding: 2.5rem;
  @apply bg-dark-container;
  height: 100% !important;
}
.kc-leading {
  line-height: 56px !important;
}
