
<div class="grid lg:grid-cols-2 grid-cols-1 h-screen place-items-center kc-login-right-bg ">
  <div class="hidden lg:block">
    <img src="../../../assets/images/bg/Asset_1_3.png" alt="" class="">
  </div>
  <div class="w-full flex justify-center">
    <div class=" w-3/5 min-w-fit">
      <mat-card class="kc-card kc-card-border border-dark-border space-y-6">
        <div class="flex justify-center items-center ">
                  <img src="../../../assets/images/logos/logo.png" alt="" class="">
          <!--<h1 class="text-2xl font-semibold tracking-widest">KC-CI</h1>-->
        </div>
        <div class="text-xl py-4">
          <p class="font-bold">Welcome Back!</p>
          <p>
            <span class="font-bold">Sign in</span> with your credential below
          </p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="logIn()">
          <div class="space-y-2">
            <mat-form-field appearance="outline" class="kc-form w-full">
              <mat-label class="text-dark-text">Email</mat-label>
              <input type="email" class="border-dark-border" matInput placeholder="Ex. pat@example.com" formControlName="email" />
              <mat-error *ngIf="loginForm.get('email').errors?.required">
                We need an email address to log you in
              </mat-error>
              <mat-error *ngIf="loginForm.get('email').errors?.email">
                We need a valid email address to log you in
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="kc-form w-full">
              <mat-label class="text-dark-text">Password</mat-label>
              <input type="password" class="border-dark-border" matInput placeholder="Ex. pat@example.com" formControlName="password"/>
              <mat-error *ngIf="loginForm.get('password').errors?.required">
                We need password to log you in
              </mat-error>
            </mat-form-field>
            <a routerLink="" class="flex justify-end font-bold p-4">Forgot Password?</a>

            <button mat-button class="kc-leading kc-button-primary text-lg w-full mt-8"> Sign In </button>
          </div>
        </form>
        <div class="flex justify-between items-center">
          <div class="h-0.5 w-full bg-white"></div>
          <p class="mx-4">Or</p>
          <div class="h-0.5 w-full bg-white"></div>
        </div><!--
      <div class="grid grid-cols-2 gap-4">
        <div class="bg-dark-background hover:bg-dark-background-1 h-8 w-full rounded border-dark-border border"></div>
        <div class="bg-dark-background hover:bg-dark-background-1 h-8 w-full rounded border-dark-border border"></div>
        <div class="bg-dark-background hover:bg-dark-background-1 h-8 w-full rounded border-dark-border border"></div>
        <div class="bg-dark-background hover:bg-dark-background-1 h-8 w-full rounded border-dark-border border"></div>
      </div>-->
        <div class="flex justify-center text-center">
          <div class="text-lg space-y-1.5">
            <p>Don't have an account?</p>
            <a routerLink="#" class="font-bold">Create an account</a>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!--<div class="grid-cols-2 ">-->
<!--  <div>-->
<!--    dfdfg-->
<!--  </div>-->
<!--  <div>-->
<!--    dfgdf-->
<!--  </div>-->
<!--</div>-->
