<div class="mx-10">
  <div class="bg-slate-500 kc-bg-banner mx-auto my-10">
    <div class="flex h-full">
      <div
        class="w-full lg:w-1/2 py-36 h-full py-auto flex justify-center lg:justify-start items-center"
      >
        <div
          class="px-10 lg:px-20 flex justify-center lg:justify-start lg:items-start items-center flex-col gap-8"
        >
          <h1
            #textElement
            class="text-3xl text-center lg:text-left font-bold tracking-wider"
          >
            Let's Automate <br />
            Development LIFE
          </h1>
          <div class="w-52 sm:w-56 md:w-60 lg:w-52">
            <button
              routerLink="attach-company"
              class="kc-create-button block text-center cursor-pointer"
              type
            >
              Attach Company
            </button>
          </div>
        </div>
      </div>
      <div class="hidden lg:block w-1/2 h-full">
        <div class="object flex justify-center items-center py-10">
          <img
            class="h-72 w-96"
            src="../../../assets/images/bg/Group.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div
      class="w-full h-full"
      gdColumns="1fr 1fr 1fr"
      gdColumns.md="1fr 1fr"
      gdColumns.lt-md="1fr"
      gdColumns.lt-sm="1fr"
      gdColumns.lt-xs="1fr"
      gdGap="20px"
    >
      <div class="cluster-card">
        <div class="flex gap-5 items-center pl-3">
          <img
            class="w-14 h-14"
            src="../../../assets/images/logos/Mask Group.svg"
            alt=""
          />
          <h1 class="text-base font-bold tracking-wider">Benefit-1</h1>
        </div>
      </div>
      <div class="cluster-card">
        <div class="flex gap-5 items-center pl-3">
          <img
            class="w-14 h-14"
            src="../../../assets/images/logos/Mask Group.svg"
            alt=""
          />
          <h1 class="text-base font-bold tracking-wider">Benefit-2</h1>
        </div>
      </div>
      <div class="cluster-card">
        <div class="flex gap-5 items-center pl-3">
          <img
            class="w-14 h-14"
            src="../../../assets/images/logos/Mask Group.svg"
            alt=""
          />
          <h1 class="text-base font-bold tracking-wider">Benefit-3</h1>
        </div>
      </div>
      <div class="cluster-card">
        <div class="flex gap-5 items-center pl-3">
          <img
            class="w-14 h-14"
            src="../../../assets/images/logos/Mask Group.svg"
            alt=""
          />
          <h1 class="text-base font-bold tracking-wider">Benefit-4</h1>
        </div>
      </div>
      <div class="cluster-card">
        <div class="flex gap-5 items-center pl-3">
          <img
            class="w-14 h-14"
            src="../../../assets/images/logos/Mask Group.svg"
            alt=""
          />
          <h1 class="text-base font-bold tracking-wider">Benefit-5</h1>
        </div>
      </div>
      <div class="cluster-card">
        <div class="flex gap-5 items-center pl-3">
          <img
            class="w-14 h-14"
            src="../../../assets/images/logos/Mask Group.svg"
            alt=""
          />
          <h1 class="text-base font-bold tracking-wider">Benefit-6</h1>
        </div>
      </div>
    </div>
  </div>
</div>
