<div
  class="kc-card shadow-card  rounded-lg p-5 relative min-h-[250px]"
>

  <div class="flex justify-end items-center py-3">
    <h1>Total <span class="text-red-500">{{totalError}} errors</span> in this pipeline</h1>
  </div>
<div *ngIf="!hasPipeline" class="text-center mt-10"><h1 class=" flex justify-center items-center gap-1 lg:gap-3 text-dark-warn text-lg lg:text-2xl"><mat-icon>error</mat-icon> Please Create Pipeline</h1></div>
<mat-accordion  *ngIf="hasPipeline">
  <mat-expansion-panel hideToggle
                       class="kc-expansion-panel" *ngFor="let item of stepAsMap | keyvalue" [expanded]="!item.value?.isValid">

    <mat-expansion-panel-header >
      <mat-panel-title >
        <div class="w-full flex justify-between">
          <h1>{{item.key}} </h1>
          <mat-icon *ngIf="item.value?.isValid" class="text-green-500">check_circle</mat-icon>
          <mat-icon *ngIf="!item.value?.isValid" class="text-red-500">cancel</mat-icon>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="overflow-y-auto max-h-[500px] mt-5 bg-dark p-3 rounded-md">
      <!-- Some:  {{item.value.name}} -->
      <!--              {{item.value.stepData.name.value | json}}-->
      <div class="text-white">
        <kcci-editor (fixProp)="editorPropsFix($event)" [(text)]="item.value.data" [InputData]="item.value.stepData" [errorLine]="!item.value?.isValid ? item.value.error : 0" mode="yaml"></kcci-editor>
        <!-- yamlInputData -->
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
  <div class="absolute top-2 right-2 cursor-pointer" (click)="closeAppModal()">
    <mat-icon>highlight_off</mat-icon>
  </div>
<p class="text-yellow-600 text-right py-3">*Please edit your pipeline and add the application</p>
</div>
