<div class="text-slate-200">
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
  <h1>example-list works!</h1>
</div>

<div class="m-32">
  <mat-card class='kc-card' matRipple>Simple card</mat-card>
  <button mat-button class="kc-button-primary">Primary</button>
  <button mat-button class="kc-button-info">info</button>
  <button mat-button class="kc-button-danger">denger</button>
  <button mat-button class="kc-button-warn">warn</button>
  <br>
  <br>
  <br>
  <br>
  <form>
      <mat-form-field appearance="outline" class="kc-form">
              <mat-label>Email</mat-label>
          <input type="email" class="border-dark-border-default " matInput placeholder="Ex. pat@example.com">
          <mat-error>
              Please enter a valid email address
          </mat-error>
      </mat-form-field>

  </form>
</div>


