<div
  class="w-[260px] sidePanel transition ease-in-out "
  id="hideMeAfter5Seconds"
>
  <div routerLink="" class="px-6 py-7 gap-x-4 cursor-pointer">
    <img class="w-[175px]" src="../../../../assets/images/logos/logo.png" />
  </div>

  <ul *ngFor="let item of menuItem">
    <li
      matRipple
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="px-6 py-3 text-sm hover:bg-[#0f172a] hover:text-dark-slider-color text-white transition duration-100 cursor-pointer"
    >
      <div class="flex gap-x-4">
        <div>
          <mat-icon>{{ item.icon }}</mat-icon>
        </div>
        <div>{{ item.title }}</div>
      </div>
    </li>
  </ul>
</div>
