<div>
  <div
    routerLink=""
    class="p-7 flex text-white justify-center items-center gap-x-4 cursor-pointer"
  >
    <img class="w-[175px]" src="../../../../assets/images/logos/logo.png" />
  </div>

  <ul>
    <li
      routerLink=""
      class="px-8 py-3 text-sm hover:bg-[#0f172a] hover:text-dark-slider-color text-white transition duration-100 cursor-pointer"
    >
      <div class="flex gap-x-4">
        <div>
          <mat-icon>dashboard</mat-icon>
        </div>
        <div>Dashboard</div>
      </div>
    </li>
    <li
      routerLink="attach-company"
      class="px-8 py-3 text-sm hover:bg-[#0f172a] hover:text-dark-slider-color text-white transition duration-100 cursor-pointer"
    >
      <div class="flex gap-x-4">
        <div>
          <mat-icon>store</mat-icon>
        </div>
        <div>Attach Company</div>
      </div>
    </li>
  </ul>
</div>
