<div>
  <div
    routerLink=""
    class="p-7 flex text-white justify-center items-center gap-x-4 cursor-pointer"
  >
    <img
      class="w-6 select-none"
      src="https://console.klovercloud.com/assets/img/icons/ic_klovercloud_logo.png"
    />
    <h1 class="font-bold">KloverCloud CI-CD</h1>
  </div>
  <ul *ngFor="let app of appList">
    <li
      routerLink="example/ex"
      class="px-8 py-3 text-sm hover:bg-dark-background-active hover:text-dark-slider-color text-white transition duration-100 cursor-pointer"
    >
      <div class="flex gap-x-4">
        <div>
          <mat-icon>settings</mat-icon>
        </div>
        <div>{{ app }}</div>
      </div>
    </li>
  </ul>
</div>
