<div
  class="bg-dark-container border border-dark-primary rounded-lg p-5 relative min-h-[250px]"
>
  <h1 class="pt-3 pb-4" >Add New Application</h1>
  <div class="example-container">
    <form [formGroup]="addApplication" (ngSubmit)="addApplicationFormData()">

      <div *ngIf="stepper==1 ; else nextPage" class="flex gap-x-2">
        <mat-form-field class="kcci-field w-1/2" appearance="outline">
          <mat-label class="text-white">Name</mat-label>
          <input
            formControlName="name"
            type="text"
            autocomplete="off"
            matInput
          />
        </mat-form-field>
        <mat-form-field class="kcci-field w-1/2" appearance="outline">
          <mat-label class="text-white">URL</mat-label>
          <input
            formControlName="url"
            type="text"
            autocomplete="off"
            matInput
          />
        </mat-form-field>
      </div>

      <!-- YAML Section -->

      <ng-template #nextPage>
        <div *ngIf="!hasPipeline" class="text-center mt-10"><h1 class=" flex justify-center items-center gap-1 lg:gap-3 text-dark-warn text-lg lg:text-2xl"><mat-icon>error</mat-icon> Please Create Pipeline</h1></div>
        <mat-accordion  *ngIf="hasPipeline">
          <mat-expansion-panel hideToggle
          class="kc-expansion-panel" *ngFor="let item of stepAsMap | keyvalue" [expanded]="!item.value?.isValid">

            <mat-expansion-panel-header >
              <mat-panel-title >
                <div class="w-full flex justify-between">
                  <h1>{{item.key}} </h1>
                  <mat-icon *ngIf="item.value?.isValid" class="text-green-500">check_circle</mat-icon>
                  <mat-icon *ngIf="!item.value?.isValid" class="text-red-500">cancel</mat-icon>
              </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="overflow-y-auto max-h-[500px] mt-5 bg-dark-background-5 p-3 rounded-md">
               <!-- Some:  {{item.value.name}} -->
<!--              {{item.value.stepData.name.value | json}}-->
              <div class="text-white">
                <kcci-editor (fixProp)="editorPropsFix($event)" [(text)]="item.value.data" [InputData]="item.value.stepData" [errorLine]="!item.value?.isValid ? item.value.error : 0" mode="yaml"></kcci-editor>
                <!-- yamlInputData -->
              </div>
                </div>
          </mat-expansion-panel>
        </mat-accordion>


          <!-- <mat-expansion-panel hideToggle
          class="kc-expansion-panel" *ngFor="let item of stepAsMap | keyvalue" [expanded]="!isValidStep(item.value)">

            <mat-expansion-panel-header >
              <mat-panel-title >
                <div class="w-full flex justify-between">
                  <h1>{{item.key| uppercase}} </h1>
                  <mat-icon *ngIf="isValidStep(item.value)" class="text-green-500">check_circle</mat-icon>
                  <mat-icon *ngIf="!isValidStep(item.value)" class="text-red-500">cancel</mat-icon>
              </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="overflow-y-auto max-h-[500px] mt-5 bg-dark-background-5 p-3 rounded-md">
               Some:  {{item.value.name}}

              <div class="text-white">
                <kcci-editor [(text)]="item.value" mode="json"></kcci-editor>
                yamlInputData
              </div>
                </div>
          </mat-expansion-panel> -->
          <!-- <mat-expansion-panel hideToggle
          class="kc-expansion-panel" *ngFor="let item of appStep.data.steps" >

            <mat-expansion-panel-header >
              <mat-panel-title >
                <div class="w-full flex justify-between">
                  <h1>{{item.name.value}} </h1>
                  <mat-icon *ngIf="item.isValid" class="text-green-500">check_circle</mat-icon>
                  <mat-icon *ngIf="!item.isValid" class="text-red-500">cancel</mat-icon>
              </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="overflow-y-auto max-h-[500px] mt-5 bg-dark-background-5 p-3 rounded-md">

              <div>
                <kcci-editor [(text)]="item.name.value" mode="yaml"></kcci-editor>
              </div>
                </div>
          </mat-expansion-panel> -->

      </ng-template>
<!--      class="absolute right-5 bottom-7 flex justify-between"-->
      <div mat-dialog-actions class=" flex justify-between">
        <div></div>

        <div *ngIf="stepper==1 ; else nextButton" >
          <span
          class="kc-button-primary kc-register block  px-3 py-2 rounded-md cursor-pointer"
          (click)="gotoNext(2)"
        >
        Next >
        </span>
        </div>
        <ng-template #nextButton>
        <div *ngIf="!addApplication.valid; else other_content" class="mb-2 flex gap-3 pt-5">
          <span
          class="kc-button-primary kc-register block px-3 py-2 rounded-md cursor-pointer"
          (click)="gotoNext(1)"
        >
       < Back
        </span>
          <button
            class="bg-slate-500 kc-register block px-3 py-2 rounded-md"
            type="submit"
            [disabled]="!addApplication.valid"
            *ngIf="hasPipeline"
          >
          OK
          </button>
        </div>


        <ng-template #other_content>
          <div class="mb-2 flex gap-3 pt-5">
            <span
            class="kc-button-primary kc-register block px-3 py-2 rounded-md cursor-pointer"
            (click)="gotoNext(1)"
          >
          < Back
          </span>
          <button
            class="kc-button-primary kc-register block px-3 py-2 rounded-md "
            type="submit"
            [disabled]="!addApplication.valid"
          >
            <span *ngIf="!isLoading && hasPipeline; else before_submit">
              OK
            </span>
            <ng-template #before_submit>
              <div class="py-[10px] mx-auto w-[57px]">
                <mat-progress-bar
                  class="green-progress kc-progress-bar"
                  mode="indeterminate"
                >
                </mat-progress-bar>
              </div>
            </ng-template>
          </button>
        </div>
        </ng-template>
      </ng-template>
      </div>
    </form>
  </div>
  <div class="absolute top-2 right-2 cursor-pointer" (click)="closeAppModal()">
    <mat-icon>highlight_off</mat-icon>
  </div>
</div>
