<div
  class="bg-dark-container border border-dark-primary rounded-lg p-5 relative"
>
  <h1 class="pt-3 pb-4">Add New Application</h1>
  <div class="example-container">
    <form [formGroup]="addApplication" (ngSubmit)="addApplicationFormData()">
      <div class="flex gap-x-2">
        <mat-form-field class="kcci-field w-1/2" appearance="outline">
          <mat-label class="text-white">Name </mat-label>
          <input
            formControlName="name"
            type="text"
            autocomplete="off"
            matInput
          />
        </mat-form-field>
        <mat-form-field class="kcci-field w-1/2" appearance="outline">
          <mat-label class="text-white">URL </mat-label>
          <input
            formControlName="url"
            type="text"
            autocomplete="off"
            matInput
          />
        </mat-form-field>
      </div>
      <div mat-dialog-actions class="flex justify-between">
        <div *ngIf="!addApplication.valid; else other_content" class="mb-2">
          <button
            class="bg-slate-500 kc-register block px-4 py-3 rounded-md"
            type="submit"
            [disabled]="!addApplication.valid"
          >
            Disable
          </button>
        </div>
        <ng-template #other_content>
          <div class="mb-2">
            <button
              class="kc-button-primary kc-register block px-4 py-3 rounded-md"
              type="submit"
              [disabled]="!addApplication.valid"
            >
              <span *ngIf="!isLoading; else before_submit"> Submit </span>
              <ng-template #before_submit>
                <div class="py-[10px] mx-auto w-[57px]">
                  <mat-progress-bar
                    class="green-progress kc-progress-bar"
                    mode="indeterminate"
                  >
                  </mat-progress-bar>
                </div>
              </ng-template>
            </button>
          </div>
        </ng-template>
      </div>
    </form>
  </div>
  <div class="absolute top-2 right-2 cursor-pointer" (click)="closeAppModal()">
    <mat-icon>highlight_off</mat-icon>
  </div>
</div>
