<div class="bg-dark-background-5 h-full">
  <div class="grid xl:grid-cols-2 grid-cols-1 h-full">
    <div class="mx-auto xl:flex xl:items-end justify-center hidden">
      <img
        src="../../../assets/images/bg/registration-ls-illustration.svg"
        alt=""
        class=""
      />
    </div>
    <div class="form_container h-full pt-[10%] px-40">
      <div class="container kc-form mx-auto">
        <mat-card class="registration-form kc-card border-2 border-dark-border">
          <div class="w-full px-7 pt-8">
            <img
              class="mx-auto"
              src="../../../assets/images/bg/logo-dark.svg"
              alt=""
            />
            <div class="text-gray-300 pt-10">
              <h1 class="text-xl font-[600]">Register for an account</h1>
              <h1 class="text-lg font-[400]">Simply fill out the form below</h1>
            </div>

            <!-- Input Form -->

            <div class="w-full mt-5">
              <div class="">
                <form [formGroup]="addUserForm" (ngSubmit)="addUserFormData()">
                  <div class="flex gap-2">
                    <mat-form-field class="kcci-field-1" appearance="outline">
                      <mat-label class="text-white">First Name</mat-label>
                      <input
                        formControlName="firstname"
                        type="text"
                        required
                        matInput
                        placeholder="Ex. John"
                      />
                      <mat-error
                        *ngIf="
                          addUserForm.get('firstname')?.touched &&
                          addUserForm.get('firstname')?.hasError('maxlength')
                        "
                        >15 letters or less</mat-error
                      >
                    </mat-form-field>
                    <mat-form-field class="kcci-field-1" appearance="outline">
                      <mat-label class="text-white">Last Name </mat-label>
                      <input
                        formControlName="lastname"
                        required
                        type="text"
                        matInput
                        placeholder="Ex. smith"
                      />
                      <mat-error
                        *ngIf="
                          addUserForm.get('lastname')?.touched &&
                          addUserForm.get('lastname')?.hasError('maxlength')
                        "
                        >15 letters or less</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <mat-form-field class="kcci-field-2" appearance="outline">
                    <mat-label class="text-white bg-transparent"
                      >Email
                    </mat-label>
                    <input
                      required
                      formControlName="email"
                      matInput
                      placeholder="Email Address"
                    />
                    <mat-error
                      *ngIf="
                        addUserForm.get('email')?.touched &&
                        addUserForm.get('email')?.hasError('required')
                      "
                      >Email is required</mat-error
                    >
                    <mat-error
                      *ngIf="
                        addUserForm.get('email')?.touched &&
                        addUserForm.get('email')?.hasError('email')
                      "
                      >Email is not valid</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field
                    class="kcci-field-2 kc-number"
                    appearance="outline"
                  >
                    <mat-label class="text-white">Phone </mat-label>
                    <input
                      formControlName="phone"
                      required
                      type="number"
                      matInput
                    />
                  </mat-form-field>
                  <div class="flex gap-2">
                    <mat-form-field class="kcci-field-1" appearance="outline">
                      <mat-label class="text-white">Password </mat-label>
                      <input
                        formControlName="password"
                        required
                        type="password"
                        matInput
                      />
                    </mat-form-field>
                    <mat-form-field class="kcci-field-1" appearance="outline">
                      <mat-label class="text-white"
                        >Confirm Password
                      </mat-label>
                      <input
                        formControlName="c_password"
                        required
                        type="password"
                        matInput
                      />
                    </mat-form-field>
                  </div>

                  <div class="kc-radio-btn">
                    <mat-checkbox
                      formControlName="checked"
                      matInput
                      class="example-margin"
                      >I accept the terms and conditions</mat-checkbox
                    >
                  </div>
                  <div *ngIf="addUserForm.valid; else other_content">
                    <button
                      class="kc-button-primary kc-register block"
                      type="submit"
                      [disabled]="!addUserForm.valid"
                    >
                      Create an Account
                    </button>
                  </div>
                  <ng-template #other_content>
                    <button
                      class="bg-slate-500 kc-register block"
                      type="submit"
                      [disabled]="!addUserForm.valid"
                    >
                      Create an Account
                    </button></ng-template
                  >
                </form>
              </div>
            </div>
            <div class="text-center py-5">
              <h1 class="text-lg">Already have an account?</h1>
              <h1
                class="cursor-pointer text-lg font-semibold tracking-wider"
                routerLink="auth/login"
              >
                Sign in here
              </h1>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
