<div class="main-container">
  <div class="wrapper-grid shadow-md">
    <div class="left-content bg-light-400 ">
      <img
        src="../../../assets/images/bg/registration-ls-illustration.svg"
        alt=""
        class=""
      />
    </div>
    <div class="boom">
      <div class="right-content">
        <div class="bg-light">
          <div class="relative">
            <div>
                <div class="absolute -left-20 top-4"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2064.png" alt=""></div>
                <div class="absolute -left-16 top-24"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2068.png" alt=""></div>
                <div class="absolute -left-16 -bottom-10"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2067.png" alt=""></div>
                <div class="absolute  right-4 -top-16"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2065.png" alt=""></div>
                <div class="absolute -right-12 top-28"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2065.png" alt=""></div>
                <div class="absolute -right-16 bottom-28 -rotate-6"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2066.png" alt=""></div>
            </div>
          <div class="kc-card shadow-card relative space-y-8">
            <div class="flex justify-center items-center">
              <img src="assets/images/logos/logo.png" alt="" class="" />
            </div>
            <div class="text-paragraph">
              <p class="font-bold">Register for an account</p>
              <p>
                Simply fill out the form below
              </p>
            </div>

              <!-- Input Form -->

              <div class="w-full mt-5">
                <div class="">
                  <form
                    [formGroup]="registrationForm"
                    (ngSubmit)="registrationFormData()"
                  >
                    <div class="two-input">
                      <mat-form-field appearance="outline"  class="kc-form-field">
                        <mat-label >First Name</mat-label>
                        <input
                          formControlName="first_name"
                          type="text"
                          required
                          matInput
                          placeholder="Ex. John"
                        />
                        <mat-error
                          *ngIf="
                            registrationForm.get('first_name')?.touched &&
                            registrationForm
                              .get('first_name')
                              ?.hasError('maxlength')
                          "
                          >15 letters or less</mat-error
                        >
                      </mat-form-field>
                      <mat-form-field appearance="outline"  class="kc-form-field">
                        <mat-label >Last Name </mat-label>
                        <input
                          formControlName="last_name"
                          required
                          type="text"
                          matInput
                          placeholder="Ex. smith"
                        />
                        <mat-error
                          *ngIf="
                            registrationForm.get('last_name')?.touched &&
                            registrationForm
                              .get('last_name')
                              ?.hasError('maxlength')
                          "
                          >15 letters or less</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <mat-form-field class="kc-form-field" appearance="outline">
                      <mat-label >Email </mat-label>
                      <input
                        required
                        formControlName="email"
                        matInput
                        placeholder="Email Address"
                      />
                      <mat-error
                        *ngIf="
                          registrationForm.get('email')?.touched &&
                          registrationForm.get('email')?.hasError('required')
                        "
                        >Email is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          registrationForm.get('email')?.touched &&
                          registrationForm.get('email')?.hasError('email')
                        "
                        >Email is not valid</mat-error
                      >
                    </mat-form-field>
                    <mat-form-field class="kc-form-field" appearance="outline">
                      <mat-label >Phone </mat-label>
                      <input
                        formControlName="phone"
                        required
                        type="number"
                        matInput
                      />
                    </mat-form-field>
                    <div class="two-input">
                      <mat-form-field appearance="outline" class="kc-form-field">
                        <mat-label >Password </mat-label>
                        <input
                          formControlName="password"
                          required
                          type="password"
                          matInput
                        />
                        <mat-error *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched">
                          We need a password to log you in!
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="kc-form-field">
                        <mat-label
                          >Confirm Password
                        </mat-label>
                        <input
                          formControlName="c_password"
                          required
                          type="password"
                          matInput
                        />
                        <mat-error *ngIf="!registrationForm.get('password')?.hasError('pattern') && (((registrationForm.get('c_password')?.hasError('mustMatch') || registrationForm.get('c_password')?.hasError('required')) ) ||
                         ((registrationForm.get('c_password')?.hasError('mustMatch') || registrationForm.get('c_password')?.hasError('required')) && registrationForm.get('c_password')?.touched))">
                  Passwords need to match!
                </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="kc-radio-btn">
                      <mat-checkbox
                        formControlName="checked"
                        matInput
                        class="kc-form-field"
                        >I accept the terms and conditions</mat-checkbox
                      >
                    </div>
                    <button
                      class="kc-button-primary  block w-full"
                      type="submit"
                      [disabled]="!registrationForm.valid"
                    >
                      <span class="text-white text-button" *ngIf="!isLoading; else progressbar">Create an Account</span>
                      <ng-template #progressbar class="">
                        <div class="w-52 mx-auto p-3">
                          <mat-progress-bar
                            class="kc-progress-bar"
                            mode="indeterminate"
                          >
                          </mat-progress-bar>
                        </div>
                      </ng-template>
                    </button>
                  </form>
                </div>
              </div>
              <div class="flex justify-center text-center ">
                <div class="text-lg space-y-1.5">
                  <h1 class="text-lg">Already have an account?</h1>
                  <a class="signup-btn" routerLink="/auth/login">Sign in here</a>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
