
.flex-item {
  position: relative;
  @apply px-8 py-4 bg-light-500;
  &:after {
    content: "";
    @apply mx-[31px] bg-light-500;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    @apply bg-light-600;
  }

  &:last-child {
    border-radius: 0 6px 6px 0;
    &:after {
      width: 0;
    }
  }
  &:first-child {
    border-radius: 6px 0 0 6px;
  }
}
.pipe-nav {
  .active {
    background-color: #c7d8ef !important;
  }
}
