.app-ace-editor {
    width: 100%;
    min-height: 400px;
    background: transparent;
    font-size: 20px;
    color: white;
  }
  .ace_gutter-cell.ace_error{
    background-image: url("https://cdn.icon-icons.com/icons2/2596/PNG/512/check_one_icon_155665.png") !important;
  }
  .ace_error{
    @apply cursor-pointer;
  }