<div class="flex justify-center items-center h-[84vh] ">
  <mat-card class="kc-card kc-card-border border-dark-border space-y-6 w-2/6">
    <mat-card-title>
      Reset Password
    </mat-card-title>
    <mat-card-content>
      <form  class="kc-form">
        <div class="space-y-2">
          <form [formGroup]="setNewPassword" (ngSubmit)="channgePassword()">
            <mat-form-field appearance="outline" class="kc-form w-full">
              <mat-label class="text-dark-text">Old Password</mat-label>
              <input
                type="password"
                class="border-dark-border"
                matInput
                placeholder="Ex. pat@example.com"
                formControlName="oldpass"
              />
              <mat-error *ngIf="setNewPassword.get('oldpass')?.touched && setNewPassword.get('oldpass')?.hasError('required')">
                Old Password is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="kc-form w-full">
              <mat-label class="text-dark-text">New Password</mat-label>
              <input
                type="password"
                class="border-dark-border"
                matInput
                placeholder="Ex. pat@example.com"
                formControlName="newpass"
              />
              <mat-error *ngIf="setNewPassword.get('newpass')?.touched && setNewPassword.get('newpass')?.hasError('required')">
                New Password is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="kc-form w-full">
              <mat-label class="text-dark-text">Type New Password Again</mat-label>
              <input
                type="password"
                class="border-dark-border"
                matInput
                placeholder="Ex. pat@example.com"
                formControlName="newpassconfirm"
              />
              <mat-error *ngIf="setNewPassword.get('newpassconfirm')?.touched && setNewPassword.get('newpassconfirm')?.hasError('required')">
                New Password is required
              </mat-error>

            </mat-form-field>
            <button
              mat-button [ngClass]="setNewPassword.valid?'kc-button-primary':'bg-slate-500'"
              class="kc-leading  text-lg h-16 w-full mt-8"
              [disabled]="!setNewPassword.valid" >
              <span *ngIf="!isLoading; else progressbar">Sign In</span>
              <ng-template #progressbar class="h-full w-full">
                <div class="w-52 mx-auto">
                  <mat-progress-bar
                    class="kc-progress-bar"
                    mode="indeterminate">
                  </mat-progress-bar>
                </div>
              </ng-template>
            </button>
          </form>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
