<div class="flex justify-center items-center h-[84vh]">
  <div class="relative">
    <div>
      <div class="absolute -left-20 top-4"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2064.png"
                                                alt=""></div>
      <div class="absolute -left-16 top-24"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2068.png"
                                                 alt=""></div>
      <div class="absolute -left-16 -bottom-10"><img
        src="assets/img/illustrations/signIn-illustrations/Rectangle%2067.png" alt=""></div>
      <div class="absolute  right-4 -top-16"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2065.png"
                                                  alt=""></div>
      <div class="absolute -right-12 top-28"><img src="assets/img/illustrations/signIn-illustrations/Rectangle%2065.png"
                                                  alt=""></div>
      <div class="absolute -right-16 bottom-28 -rotate-6"><img
        src="assets/img/illustrations/signIn-illustrations/Rectangle%2066.png" alt=""></div>
    </div>
    <div class="kc-card shadow-card relative space-y-8">
      <h1 class="text-sub-title"> Reset Password</h1>
      <div>
        <form class="kc-form">
          <div>
            <form [formGroup]="setNewPassword" (ngSubmit)="changePassword()" class="space-y-4">
              <mat-form-field appearance="outline" class="kc-form-field">
                <mat-label>Old Password</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder=""
                  formControlName="oldpass"
                />
                <mat-error
                  *ngIf="
                  setNewPassword.get('oldpass')?.touched &&
                  setNewPassword.get('oldpass')?.hasError('required')
                "
                >
                  Old Password is required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="kc-form-field">
                <mat-label>New Password</mat-label>
                <input
                  type="password"
                  matInput
                  placeholder=""
                  formControlName="newpass"
                />
                <mat-error
                  *ngIf="
                  setNewPassword.get('newpass')?.touched &&
                  setNewPassword.get('newpass')?.hasError('required')
                "
                >
                  New Password is required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="kc-form-field">
                <mat-label
                >Type New Password Again
                </mat-label
                >
                <input
                  type="password"
                  matInput
                  placeholder=""
                  formControlName="newpassconfirm"
                />
                <mat-error
                  *ngIf="
                  setNewPassword.get('newpassconfirm')?.touched &&
                  setNewPassword.get('newpassconfirm')?.hasError('required')
                "
                >
                  New Password is required
                </mat-error>
              </mat-form-field>
              <button
                class="kc-button-primary  block w-full"
                type="submit"
                [disabled]="!setNewPassword.valid"
              >
                <span class="text-white text-button" *ngIf="!isLoading; else progressbar">Sign In</span>
                <ng-template #progressbar class="">
                  <div class="w-52 mx-auto p-3">
                    <mat-progress-bar
                      class="kc-progress-bar"
                      mode="indeterminate"
                    >
                    </mat-progress-bar>
                  </div>
                </ng-template>
              </button>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
