<div class="relative flex flex-col gap-5">

  <div class="flex items-center">
    <div class="mr-6">
      <mat-icon class="text-[25px]" [ngClass]="status">{{icon}}</mat-icon>
    </div>
    <div>
      <h2 class="text-paragraph">{{ data.title }}</h2>
      <h2 class="text-caption">{{ data.message }}</h2>
    </div>
    <button
      (click)="closeSnackbar()"
      class="cursor-pointer absolute right-0 text-danger"
    >
      <mat-icon [ngClass]="closeBtnClass">close</mat-icon>
    </button>
  </div>
</div>
