._content {
  max-width: 545px;
}
.mat-dialog-container{
  padding: 0;
}
._delete-icon {
  $size: 60px;
  font-size: $size;
  line-height: $size;
  height: $size;
  width: $size;
  @apply text-danger-500;
}

::ng-deep {
  .mat-dialog-container {
    background-color: transparent !important;
  }
}
