<div class="flex justify-between items-center">
  <div class="flex gap-x-6 cursor-pointer">
    <mat-icon
      (click)="testClick()"
      matBadge="15"
      matBadgeColor="warn"
      >notifications</mat-icon
    >
  </div>
  <mat-menu
    xPosition="before"
    class="text-white kc-menu"
  >
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <div class="flex gap-x-6 cursor-pointer">
    <button
      mat-button
      [matMenuTriggerFor]="afterMenu"
      class="flex justify-center items-center"
    >
      {{ userPersonalInfo?.data?.first_name || "User name" }}
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu
      #afterMenu="matMenu"
      xPosition="before"
      class="text-white kc-menu"
    >
      <div class="flex bg-[#5460e3] items-center p-4 py-4 gap-2">
        <div
          class="h-12 w-12 bg-purple-200 rounded-full flex justify-center items-center bg-opacity-25 font-bold"
        >
          <mat-icon
            class="material-icons-sharp kc-profile-icon text-3xl -mt-3 mr-1.5"
            >perm_identity</mat-icon
          >
        </div>
        <h1 class="text-xl">
          {{ userPersonalInfo?.data?.first_name
          }}<span class="text-sm">(Admin)</span>
        </h1>
      </div>
      <div
        class="hover:text-green-500 flex justify-between bg-dark-background items-center px-2 cursor-pointer hover:bg-dark-background-active"
        routerLink="/user-profile/profile"
      >
        <div class="flex h-full items-center p-4 gap-6">
          <mat-icon
            class="text-fill-green-700 material-icons-outlined text-stroke-white"
            >account_circle</mat-icon
          >
          <div>
            <h1>My Profile</h1>
            <h2>Personal info</h2>
          </div>
        </div>
        <div>
          <mat-icon>navigate_next</mat-icon>
        </div>
      </div>
      <div
        class="hover:text-green-500 flex justify-between bg-dark-background items-center px-2 cursor-pointer hover:bg-dark-background-active"
        routerLink="/user-profile/reset-password"
      >
        <div class="flex h-full items-center p-4 gap-6">
          <mat-icon class="material-icons-outlined text-purple-600"
            >lock</mat-icon
          >
          <div>
            <h1>Change Password</h1>
            <h2>Change Your Password From Here</h2>
          </div>
        </div>
        <div>
          <mat-icon>navigate_next</mat-icon>
        </div>
      </div>
      <div
        class="hover:text-green-500 flex justify-between bg-dark-background items-center px-2 cursor-pointer hover:bg-dark-background-active"
      >
        <div class="flex h-full items-center p-4 gap-6">
          <mat-icon class="material-icons-outlined text-dark-danger"
            >settings</mat-icon
          >
          <div>
            <h1>Settings</h1>
            <h2>Manage Others Settings</h2>
          </div>
        </div>
        <div>
          <mat-icon>navigate_next</mat-icon>
        </div>
      </div>
      <button
        matRipple
        mat-button
        class="text-center w-full"
        (click)="logout()"
      >
        LOGOUT
      </button>
    </mat-menu>
  </div>
</div>
