
::ng-deep{
  .kc-menu {
    min-width: 270px !important;
    max-width: 350px !important;
    @apply bg-light-400 border-kc-bdr-card border-1.5 p-6;
  }
  .mat-menu-content{
    padding: 0 !important;
  }

}
.toaster_own_class{
  //background-color: greenyellow !important;
  //color: #6e0012 !important;
}
/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

