div{
  @apply text-dark;
}
@keyframes pulses {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.loader-step {
  opacity: 0;
  @apply bg-dark-background-2;
  border-radius: 50%;
  position: absolute;
  margin: auto auto;
  width: 60px;
  height: 60px;

  div:nth-child(1) {
    animation: pulses 2s infinite;
  }
  div:nth-child(2) {
    animation: pulses 2s infinite 0.3s;
  }
  div:nth-child(3) {
    animation: pulses 2s infinite 0.6s;
  }

  div:nth-child(4) {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #22475e;
    font-size: 14px;
    line-height: 80px;
    width: 80px;
    height: 80px;
  }
}
.loader-step.active {
  opacity: 100;
}
.active {
  @apply bg-light-900;
}
.env-name {
  padding: 8px;
  white-space: nowrap;
}

::ng-deep .kc-node-menu {
  @apply bg-light-500 border border-kc-bdr-card;
}

.kc-card-pipe-left {
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: all 1s ease-in-out;
  @apply bg-light-500 py-6;
}

.kc-card-pipe-right {
  border-left: none;
  border-radius: 0 6px 6px 0;
  transition: all 1s ease-in-out;
  @apply bg-light-500 p-0;
}

.mid-right-border {
  border-radius: 0 6px 6px 0 !important;
}
.bg-doted{
  background-image: radial-gradient(#3b3d48 1px, transparent 0);
  background-size: 30px 40px;
}

.kc-card-pipe-mid {
  border-radius: 0 0 0 0;
  @apply bg-light-500 p-0 pr-3;
}

.log-clip {
  transition: all 0.1s ease-in-out;
}

.logState {
  .header-container {
    padding-left: 25px;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--border);

    .header-title {
      @apply text-dark;
      font-weight: bold;
    }
  }

  .body-container {
    padding-left: 25px;
  }
}

.logState.expanded {
  right: 5px !important;
  opacity: 0.95;
  z-index: 35;
  transition: all 0.2s ease-in-out;
}

.kc-expansion-panel {
  @apply bg-light-500 text-dark;
  margin-top: 0;
  word-wrap: break-word;
}

.log-card {
  transition: all 0.5s ease-in-out;
}

.log-exp {
  transition: all 0.1s ease-in-out;
}
.logPanel {
  //overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
}

.logPanel pre:last-child {
  scroll-snap-align: start;
}
.mat-menu-panel , #mat-menu-panel-4, #mat-menu-panel-12, #mat-menu-panel-3, #mat-menu-panel-2 {
  min-height: 35px;
}

:host ::ng-deep  .mat-menu-panel {
  min-height: 35px;
}

.console-log-container {
  width: 50vw !important;
  @media screen and (max-width: 768px) {
    width: 84vw !important;
    overflow-x: scroll;
  }
  height: 650px;
  position: fixed;
  display: inline-block;
  bottom: -1px;
  right: 0;
  // border-right: none;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--background);
  color: var(--text-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease-in-out;

  .header-container {
    background-color: var(--background-1);
    height: 40px;
    padding-left: 20px;
    color: var(--text-color);
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  //.header-container:hover {
  //  background-color: var(--background);
  //  transition: all 0.2s ease-in-out;
  //}

  .log-container {
    display: none;
  }
}

.console-log-container.expanded {
  position: relative;
  right: 0;
  width: 50vw !important;
  @media screen and (max-width: 768px) {
    width: 84vw !important;
    overflow-x: scroll;
  }
  height: 650px !important;
  transition: all 0.2s ease-in-out;

  .log-container {
    position: absolute;
    display: block;
    padding: 15px;
    width: 50vw !important;
    @media screen and (max-width: 768px) {
      width: 84vw !important;
      overflow-x: scroll;
    }
    height: 612px !important;
    overflow-y: auto;
    overflow-wrap: break-word;
    color: var(--text-color);
    font-size: var(--fs-small);
  }
}

.console-log-container.expanded.maximized {
  width: calc(100vw - 262px) !important;
  height: 100vh !important;
  transition: all 0.2s ease-in-out;

  .log-container {
    width: calc(100vw - 580px) !important;
    height: calc(100vh - 40px) !important;
    transition: all 0.2s ease-in-out;
  }
}

.console-log-container.expanded.maximized.sidenav-collapsed {
  width: calc(100vw - 390px) !important;
  transition: all 0.2s ease-in-out;

  .log-container {
    width: calc(100vw - 390px) !important;
    transition: all 0.2s ease-in-out;
  }
}

pre {
  font-size: 14px;
  color: #afc0e1;
}

.terminal-spinner {
  color: #9ca1b9;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.terminal-spinner:after {
  animation: changeContent 0.8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 18px;
}

.spinner-5 {
  width: 50px;
  --b: 8px; /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  background: #6C90D3;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s5 1s infinite;
}
@keyframes s5 {to{transform: rotate(.5turn)}}

@keyframes changeContent {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}
.text-processing {
  color: #d7d9e8;
}
h4{
  font-size: 15px;
}
:host ::ng-deep mat-expansion-panel, .mat-expansion-panel{
  margin-bottom: 10px !important;
}
