<div class="py-28">
  <div class="w-full bg-[url('assets/images/errors/errorBg.svg')]">
    <div class="text-center flex items-center ... flex-col">
      <img src="assets/images/errors/404.svg" alt="Error" class="max-w-[650px]">
      <h3 class="text-xl mt-2 mb-10 max-w-[550px]">We seem to have run into a bit of a problem with this page, kindly redirect to a valid page.</h3>
      <div class="flex items-center justify-center">
        <a href="/"  class="mt-10 text-xl cursor-pointer" type="flat">Go Back to Home</a>
      </div>
    </div>
  </div>
</div>
