.p-page {
  @apply mx-7;
}

.add-user {
  .mat-icon {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 18px;
  }
}
th {
  @apply bg-light-800 text-sm font-semibold;
}
mat-header-cell, mat-header-row, .mat-header-cell-def{
  font-weight: 800;
}
.kc-create-button {
  @apply bg-dark-border-default hover:text-dark-background-5 hover:bg-white transition duration-500 w-full py-2 mx-auto rounded-md flex items-center justify-center;
}

th,td, mat-header-row, .mat-header-cell-def{
  font-weight:bold;
  font-size: 16px;
}
