<div>
  <div class="w-full overflow-x-auto mx-auto">
    <div class="mx-2 md:mx-7 my-5 bg-dark-background-5">
      <div
        class="search-container w-full flex items-center justify-between px-6 py-5"
      >
        <div>
          <h1 class="text-base font-semibold tracking-wide">
            Application List
          </h1>
        </div>
        <div class="flex items-center gap-3">
          <div class="w-32 ml-auto" (click)="openDialog()">
            <button class="kc-create-button text-center cursor-pointer">
              Add New
            </button>
          </div>

          <!-- <input
            class="w-[120px] sm:w-[180px] md:w-[250px] xl:w-[300px] block rounded-3xl py-[7px] pl-5 bg-dark-border-form border-[.5px] border-dark-border-default outline-none"
            placeholder="search"
            autocomplete="off"
            (keyup)="filterData($event)"
          /> -->
        </div>
      </div>
      <div class="resp">
        <table
          mat-table
          matSort
          [dataSource]="dataSource"
          class="mat-elevation-z8 bg-transparent overflow-x-scroll md:overflow-x-hidden"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="px-10">Name</th>
            <td mat-cell *matCellDef="let element" class="kc-table">
              <div
                class="cursor-pointer"
                [routerLink]="['/application/', element._metadata.id]"
              >
                {{ element._metadata.name }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef>Labels</th>
            <td mat-cell *matCellDef="let element">
              <!-- {{ element._metadata.labels.CompanyId }} -->
              <div *ngIf="element._metadata.labels != null; else noLabels">
                <div *ngFor="let key of objectKeys(element._metadata.labels)">
                  {{ key + " : " + element._metadata.labels[key] }}
                </div>
              </div>

              <ng-template #noLabels>
                <span>N/A</span>
              </ng-template>
              <!-- <div
                *ngFor="
                  let key of objectKeys(element._metadata.labels);
                  let i = index
                "
              >
                <span
                  *ngIf="
                    objectKeys(element._metadata.labels).length < 2;
                    else more
                  "
                >
                  {{ key + " : " + element._metadata.labels[key] }}</span
                >
                <ng-template #more
                  >{{
                    key + " : " + element._metadata.labels[key]
                  }}...</ng-template
                >
              </div> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="webhook">
            <th mat-header-cell *matHeaderCellDef>Webhook</th>
            <td mat-cell *matCellDef="let element">
              <div class="w-28 flex justify-between">
                <span>{{
                  element._metadata.is_webhook_enabled ? "enabled" : "disabled"
                }}</span>

                <mat-slide-toggle
                  (change)="something()"
                  class="example-margin"
                  [(ngModel)]="element._metadata.is_webhook_enabled"
                  [checked]="element._metadata.is_webhook_enabled"
                >
                </mat-slide-toggle>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef>URL</th>
            <td mat-cell *matCellDef="let element">
              <a [href]="element.url">{{ element.url }}</a>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <div class="flex gap-2">
                <span (click)="editApp(element)">
                  <mat-icon class="cursor-pointer hover:text-yellow-500"
                    >edit</mat-icon
                  ></span
                >
                <mat-icon class="cursor-pointer hover:text-red-500"
                  >delete</mat-icon
                >
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="hover:bg-[#1A2C4A] transition duration-100"
          ></tr>
        </table>

        <!-- <mat-paginator
          class="bg-transparent"
          #paginator
          [pageSizeOptions]="[5, 10, 15, 25, 100]"
        >
        </mat-paginator> -->
      </div>

      <div *ngIf="isLoading" class="uploader-status p-5">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>
  </div>
</div>
