<div class="">
  <div class="w-screen bg-dark-background-5 mx-auto container">
    <div class="search-container flex items-center justify-between px-6 py-5">
      <div>
        <h1 class="text-base font-semibold">All Applications</h1>
      </div>
      <div>
        <input
          class="block rounded-3xl py-3 pl-5 bg-dark-border-form border-[.5px] border-dark-border-default outline-none"
          matInput
          placeholder="search"
          autocomplete="off"
          (keyup)="filterData($event)"
        />
      </div>
    </div>
    <div class="">
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8 bg-transparent"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Label</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Is webhook enable</th>
          <td mat-cell *matCellDef="let element">
            <span class="ml-[10%]">{{
              element.email.length > 18 ? "True" : "False"
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="website">
          <th mat-header-cell *matHeaderCellDef>URL</th>
          <td mat-cell *matCellDef="let element">{{ element.website }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <!-- <mat-paginator
        class="bg-transparent"
        #paginator
        [pageSize]="25"
        [pageSizeOptions]="[2, 5, 10, 25, 100]"
      >
      </mat-paginator> -->
    </div>

    <div *ngIf="isLoading" class="uploader-status flex justify-center p-5">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </div>
</div>
