<div class="wrapper">
  <div class="forgot-container">
    <div class="forgot-form">
      <div class="verifiy-mail-form">
        <div
          class="w-full p-10 min-w-[350px] sm:min-w-[400px] md:min-w-[500px]"
        >
          <h1 class="flex justify-center">
            <img src="../../../assets/images/logos/logo.png" alt="" />
          </h1>
          <div *ngIf="forgotPassMail === '' && otpCode === ''">
            <div class="text-dark py-8 space-y-4">
              <h1 class="text-lg text-sub-title font-semi-bold">
                Forgot Password
              </h1>
              <h1 class="text-dark text-paragraph">
                Enter the email address and we'll send you a link to reset your
                password.
              </h1>
            </div>
            <div class="w-full">
              <div class="text-zinc-600">
                <form
                  class="space-y-4"
                  [formGroup]="forgotPass"
                  (ngSubmit)="forgotPassComponent()"
                >
                  <mat-form-field
                    class="kcci-field text-dark"
                    appearance="outline"
                  >
                    <mat-label class="text-dark">Email</mat-label>
                    <input
                      class="text-dark"
                      type="email"
                      matInput
                      formControlName="email"
                      placeholder="Ex. john.wick@klovercloud.com"
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                      required
                    />
                    <mat-error
                      *ngIf="
                        forgotPass.get('email')?.touched &&
                        forgotPass.get('email')?.hasError('required')
                      "
                    >Email is required
                    </mat-error
                    >
                    <mat-error
                      *ngIf="
                        forgotPass.get('email')?.touched &&
                        forgotPass.get('email')?.hasError('email')
                      "
                    >Email is not valid
                    </mat-error
                    >
                  </mat-form-field>
                  <div >
                    <button
                      class="kc-button-primary  block w-full"
                      type="submit"
                      [disabled]="!forgotPass.valid"
                    >
                      Send Verification Code
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div *ngIf="forgotPassMail !== '' && otpCode === ''">
            <div class="text-gray-300 py-6">
              <h1 class="text-sub-title font-semi-bold">Enter Your OTP</h1>
            </div>
            <div class="w-full">
              <div class="text-zinc-600">
                <form class="space-y-4" [formGroup]="otpForm" (ngSubmit)="otpSumit()">
                  <mat-form-field
                    class="kcci-field text-white"
                    appearance="outline"
                  >
                    <mat-label class="text-dark">OTP</mat-label>
                    <input
                      type="email"
                      matInput
                      formControlName="otp"
                      required
                    />
                    <mat-error
                      *ngIf="
                        otpForm.get('otp')?.touched &&
                        otpForm.get('otp')?.hasError('required')
                      "
                    >OTP is required
                    </mat-error
                    >
                  </mat-form-field>
                  <p
                    (click)="resendCode()"
                    class="cursor-pointer mb-4 text-dark-text"
                  >
                    Resend OTP
                  </p>
                  <div>
                    <button
                      class="kc-button-primary  block w-full"
                      type="submit"
                      [disabled]="!otpForm.valid"
                    >
                      Submit OTP
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div *ngIf="forgotPassMail !== '' && otpCode !== ''">
            <div class="text-gray-300 py-6">
              <h1 class="text-lg font-[600]">Set New Password</h1>
            </div>
            <div class="w-full">
              <div class="text-zinc-600">
                <form class="space-y-4"
                  [formGroup]="setNewPassword"
                  (ngSubmit)="changePassword()"
                >
                  <mat-form-field
                    class="kcci-field text-white"
                    appearance="outline"
                  >
                    <mat-label class="text-dark">New Password</mat-label>
                    <input
                      type="password"
                      matInput
                      formControlName="password"
                      required
                    />
                    <mat-error
                      *ngIf="
                        setNewPassword.get('password')?.touched &&
                        setNewPassword.get('password')?.hasError('required')
                      "
                    >Password is required
                    </mat-error
                    >
                  </mat-form-field>
                  <mat-form-field
                    class="kcci-field text-white"
                    appearance="outline"
                  >
                    <mat-label class="text-dark"
                    >Enter New Password Again
                    </mat-label
                    >
                    <input
                      type="password"
                      matInput
                      formControlName="passwordAgain"
                      required
                    />
                    <mat-error
                      *ngIf="
                        setNewPassword.get('passwordAgain')?.touched &&
                        setNewPassword
                          .get('passwordAgain')
                          ?.hasError('required')
                      "
                    >Password is required
                    </mat-error
                    >
                  </mat-form-field>
                  <button
                    class="kc-button-primary  block w-full"
                    type="submit"
                    [disabled]="!setNewPassword.valid"
                  >
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="text-center pt-5">
            <h1
              class="cursor-pointer text-dark text-paragraph"
              routerLink="/auth/login"
            >
              Back to Login
            </h1>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
