<div class="wrapper">
  <div class="forgot-container">
    <div class="forgot-form">
      <div class="verifiy-mail-form">
        <div class="w-full p-10">
          <h1 class="text-white text-3xl font-bold text-center">
            Klover<span class="text-teal-400">Cloud</span> CI-<span
              class="text-teal-400"
              >CD</span
            >
          </h1>
          <div class="text-gray-300 py-6">
            <h1 class="text-lg font-[600]">Forgot Password</h1>
            <h1 class="text-sm font-[400] mt-2">
              Enter the email address and we'll send you a link to reset your
              password.
            </h1>
          </div>

          <!-- Input Form -->

          <div class="w-full">
            <div class="text-zinc-600">
              <form [formGroup]="forgotPass" (ngSubmit)="forgotPassData()">
                <mat-form-field
                  class="kcci-field text-white"
                  appearance="outline"
                >
                  <mat-label class="text-white">Email</mat-label>
                  <input
                    type="email"
                    matInput
                    formControlName="email"
                    placeholder="Ex. john.wick@klovercloud.com"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    required
                  />
                  <mat-error
                    *ngIf="
                      forgotPass.get('email')?.touched &&
                      forgotPass.get('email')?.hasError('required')
                    "
                    >Email is required</mat-error
                  >
                  <mat-error
                    *ngIf="
                      forgotPass.get('email')?.touched &&
                      forgotPass.get('email')?.hasError('email')
                    "
                    >Email is not valid</mat-error
                  >
                </mat-form-field>

                <div *ngIf="forgotPass.valid; else other_content">
                  <button
                    class="kc-button-primary kc-register block"
                    type="submit"
                    [disabled]="!forgotPass.valid"
                  >
                    Send Verification Code
                  </button>
                </div>
                <ng-template #other_content>
                  <button
                    class="bg-slate-500 kc-register block"
                    type="submit"
                    [disabled]="!forgotPass.valid"
                  >
                    Send Verification Code
                  </button></ng-template
                >
              </form>
            </div>
          </div>
          <div class="text-center pt-5">
            <h1
              class="cursor-pointer text-base text-white font-semibold tracking-wider"
              routerLink="/auth/login"
            >
              Back to Login
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
