<div class="wrapper">
  <div class="forgot-container">
    <div class="forgot-form">
      <div class="verifiy-mail-form">
        <div class="w-full p-10">
          <h1 class="text-white text-3xl font-bold text-center">
            Klover<span class="text-teal-400">Cloud</span> CI-<span
              class="text-teal-400"
              >CD</span
            >
          </h1>
          <div class="text-gray-300 py-6">
            <h1 class="text-lg font-[600]">Forgot Password</h1>
            <h1 class="text-sm font-[400] mt-2">
              Enter the email address and we'll send you a link to reset your
              password.
            </h1>
          </div>

          <!-- Input Form -->

          <div class="w-full">
            <div class="text-zinc-600">
              <mat-form-field class="kcci-field" appearance="outline">
                <mat-label class="text-white">Email *</mat-label>
                <input
                  type="email"
                  matInput
                  placeholder="Ex. john.wick@klovercloud.com"
                />
              </mat-form-field>

              <button class="kc-button-primary kc-register block" type="submit">
                Send Email
              </button>
              <!-- </form> -->
            </div>
          </div>
          <div class="text-center pt-5">
            <h1
              class="cursor-pointer text-base text-white font-semibold tracking-wider"
              routerLink="auth/login"
            >
              Back to Login
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
