<mat-card class="kc-card m-6 space-y-6">
  <div class="kc-card p-6 rounded">
    sfdfjsdjk
  </div>
  <div class="kc-card rounded">
    <div class="overview-row">
      <div class="overview-item">
        jksdk
      </div>
      <div class="overview-item">
        sdfsdf
      </div>
      <div class="overview-item">
        sdfsd
      </div>
    </div>
    <div class="overview-row">
      <div class="overview-item">
        jksdk
      </div>
      <div class="overview-item">
        sdfsdf
      </div>
      <div class="overview-item">
        sdfsd
      </div>
    </div>
  </div>
</mat-card>
