// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ci-console-primary: mat.define-palette(mat.$indigo-palette);
$ci-console-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ci-console-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ci-console-theme: mat.define-dark-theme(
  (
    color: (
      primary: $ci-console-primary,
      accent: $ci-console-accent,
      warn: $ci-console-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ci-console-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Popins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
html,
body {
  height: 100%;
  background-color: #151f36;
}
body {
  margin: 0;
  font-family: Popins, sans-serif;
}
* {
  font-family: Popins, sans-serif;
}

.sb-success {
  // background: #3c4c72;
  // color: white;
  @apply bg-dark-background-4 mx-auto text-white ;
  .mat-simple-snack-bar-content {
    @apply py-8 px-9 text-xl;
  }
  transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0 0 10px 5px rgba(240, 241, 243, 0.878);
  background: #293F65;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #293F65, #293F65);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #293F65, #293F65); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 4px;
  color: white;
  position: relative;
  margin-top: 8px;
  padding: 27px;
  height: 100px;
  width: 344px;
}
// .kc-toastr {
//   transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
//   box-shadow: 0 0 10px 5px rgba(240, 241, 243, 0.878);
//   animation: fadeInFromBellow 0.5s;
//   background: #293F65;  /* fallback for old browsers */
//   background: -webkit-linear-gradient(to right, #293F65, #293F65);  /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to right, #293F65, #293F65); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   border-radius: 4px;
//   color: white;
//   position: relative;
//   margin-top: 8px;
//   padding: 27px;
//   // height: 100px;
//   width: 344px;
// }
// .kc-toastr-close {
//   position: absolute;
//   text-align: center;
//   line-height: 16px;
//   color: #7a8eb2;
//   font-size: 13px;
//   display: block;
//   right: 10px;
//   top: 10px;
//   &:hover {
//     border-radius: 2px;
//     cursor: pointer;
//   }
// }
.sb-warn {
  @apply bg-dark-warn text-dark-container pl-10 shadow-2xl;
  .mat-simple-snack-bar-content {
    @apply py-8 px-14 text-xl font-bold;
  }
    transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0 0 10px 5px rgba(219, 219, 68, 0.878);
  background: #293F65;  
  background: -webkit-linear-gradient(to right, #293F65, #293F65);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #293F65, #293F65); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 4px;
  color: white;
  position: relative;
  margin-top: 8px;
  padding: 27px;
  height: 100px;
  width: 344px;
}
.sb-notification {
  @apply bg-dark-warn text-dark-container pl-10 shadow-2xl;
  .mat-simple-snack-bar-content {
    @apply py-8 px-14 text-xl font-bold;
  }
    transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0 0 10px 5px rgba(240, 241, 243, 0.878);
  background: #293F65;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #293F65, #293F65);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #293F65, #293F65); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 4px;
  color: white;
  position: relative;
  margin-top: 8px;
  padding: 27px;
  height: 100px;
  width: 344px;
}
.sb-error {
  @apply bg-dark-warn text-dark-container pl-10 shadow-2xl;
  .mat-simple-snack-bar-content {
    @apply py-8 px-14 text-xl font-bold;
  }
    transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0 0 10px 5px rgba(216, 49, 49, 0.878);
  background: #293F65;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #293F65, #293F65);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #293F65, #293F65); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 4px;
  color: white;
  position: relative;
  margin-top: 8px;
  padding: 27px;
  height: 100px;
  width: 344px;
}



.kc-card {
  @apply bg-dark-background border-1.5 border-dark-border-default text-dark-text;
}
.kc-button-primary {
  @apply bg-dark-primary px-4 text-white;
}
.kc-button-info {
  @apply bg-dark-info px-4 text-white;
}
.kc-button-danger {
  @apply bg-dark-danger px-4 text-white;
}
.kc-button-warn {
  @apply bg-dark-warn px-4 text-white;
}
.kc-form {
  .mat-form-field-outline {
    @apply bg-dark-background;
  }
}
.mat-option-text {
  @apply text-white;
}
.mat-form-field-flex {
  // @apply bg-dark-container;
}
.kc-form {
  .md-input-focused{
    -webkit-box-shadow: none;
  }
}

.kc-progress-bar {
  .mat-progress-bar-fill::after {
    @apply bg-dark-primary;
  }
}

.kc-progress-bar {
  .mat-progress-bar-buffer {
    @apply bg-white;
  }
}

.kc-progress-bar {
  .mat-progress-bar {
    @apply rounded;
  }
}
.kc-dialog {
  .mat-dialog-container {
    @apply bg-dark-background max-w-5xl;
  }
}
