// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kc-denger: (
  50:#ffd4db,
  100:#ffa1b0,
  200:#ff6e85,
  300:#ff3b5a,
  400:#ff0830,
  500:#d40022,
  600:#a1001a,
  700:#6e0012,
  800:#3b0009,
  900:#080001,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);
$kc-primary: (
  50:#f6f8fb,
  100:#d0daee,
  200:#abbde0,
  300:#86a0d2,
  400:#6183c4,
  500:#4167b1,
  600:#34528b,
  700:#263c66,
  800:#182641,
  900:#0a101c,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
$kc-info: (
  50:#f5fcf7,
  100:#ccf2d8,
  200:#a3e8b9,
  300:#7ade9a,
  400:#51d47b,
  500:#30c25f,
  600:#26994b,
  700:#1c7037,
  800:#124723,
  900:#081e0f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
$ci-console-primary: mat.define-palette($kc-primary);
$ci-console-accent: mat.define-palette($kc-info);



// The warn palette is optional (defaults to red).
$ci-console-warn: mat.define-palette($kc-denger);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ci-console-theme: mat.define-light-theme(
  (
    color: (
      primary: $ci-console-primary,
      accent: $ci-console-accent,
      warn: $ci-console-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ci-console-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Popins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
html,
body {
  margin: 0;
  font-family: Popins, sans-serif;
  height: 100%;
  @apply font-regular bg-light text-dark;
}
* {
  font-family: Popins, sans-serif;
}
.ace_error{
  cursor: pointer;
  // margin-top: 25px;
}
.sb-success {
  @apply bg-dark-background-4 mx-auto text-white;
  .mat-simple-snack-bar-content {
    @apply py-8 px-9 text-xl;
  }
  transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0 0 10px 5px rgba(240, 241, 243, 0.878);
  background: #293f65; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #293f65,
    #293f65
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #293f65,
    #293f65
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 4px;
  color: white;
  position: relative;
  margin-top: 8px;
  padding: 27px;
  min-height: 100px;
  min-width: 344px;
}

.sb-warn {
  @apply bg-dark-warn text-dark-container pl-10 shadow-2xl;
  .mat-simple-snack-bar-content {
    @apply py-8 px-14 text-xl font-bold;
  }
  transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0 0 10px 5px rgba(219, 219, 68, 0.878);
  background: #293f65;
  background: -webkit-linear-gradient(
    to right,
    #293f65,
    #293f65
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #293f65,
    #293f65
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 4px;
  color: white;
  position: relative;
  margin-top: 8px;
  padding: 27px;
  min-height: 100px;
  min-width: 344px;
}
.sb-notification {
  @apply bg-dark-warn text-dark-container pl-10 shadow-2xl;
  .mat-simple-snack-bar-content {
    @apply py-8 px-14 text-xl font-bold;
  }
  transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0 0 10px 5px rgba(240, 241, 243, 0.878);
  background: #293f65; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #293f65,
    #293f65
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #293f65,
    #293f65
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 4px;
  color: white;
  position: relative;
  margin-top: 8px;
  padding: 27px;
  min-height: 100px;
  min-width: 344px;
}
.sb-error {
  @apply bg-dark-warn text-dark-container pl-10 shadow-2xl;
  .mat-simple-snack-bar-content {
    @apply py-8 px-14 text-xl font-bold;
  }
  transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0 0 10px 5px rgba(216, 49, 49, 0.878);
  background: #293f65; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #293f65,
    #293f65
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #293f65,
    #293f65
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 4px;
  color: white;
  position: relative;
  margin-top: 8px;
  padding: 27px;
  min-height: 100px;
  min-width: 344px;
}

.kc-card {
  @apply bg-dark-background-5 border-1.5 border-dark-border-default text-dark-text;
}
.kc-button-primary {
  @apply bg-primary px-4 text-white text-button;
}
.kc-button-primary-disable {
  @apply bg-primary-300 px-4 text-dark-500 text-button;
}
.kc-button-info {
  @apply bg-dark-info px-4 text-white;
}
.kc-button-danger {
  @apply bg-dark-danger px-4 text-white;
}
.kc-button-warn {
  @apply bg-dark-warn px-4 text-white;
}
.kc-form {
  .mat-form-field-outline {
    @apply bg-dark-background;
  }
}
.mat-option-text {
  @apply text-white;
}
.mat-form-field-flex {
  // @apply bg-dark-container;
}
.kc-form {
  .md-input-focused {
    -webkit-box-shadow: none;
  }
}

.kc-progress-bar {
  .mat-progress-bar-fill::after {
    @apply bg-primary;
  }
}

.kc-progress-bar {
  .mat-progress-bar-buffer {
    @apply bg-white;
  }
}

.kc-progress-bar {
  .mat-progress-bar {
    @apply rounded;
  }
}
.kc-dialog {
  .mat-dialog-container {
    @apply bg-transparent max-w-5xl;
  }
}
.custom-modalbox > mat-dialog-container {
  background-color: transparent !important;
}
@import "~ngx-toastr/toastr";
