.page__content {
  @apply bg-dark-background-5 p-6 rounded-md;
}

.resource_custom_form_btn {
  line-height: 52px;
  margin-top: 4px;
}

._submit__btn {
  line-height: 40px;
  height: 40px;
}

::ng-deep {
  .mat-dialog-container {
    background-color: transparent !important;
    padding: 0;
  }
}

::ng-deep {
  .mat-select-panel {
    @apply bg-dark-background-4 ml-2;
  }
}
