<div class=" my__profile">
  <div class="edit__profile px-10 md:px-16">
    <div>
      <h1 class="text-xl mt-[44px] text-dark tracking-wider font-semibold ">
        Basic Information
      </h1>
    </div>
    <!-- Basic information div items start -->
      <div class="sm:mt-[60px] pb-[46px]  border-b-1.5 w-full border-[#E7E9EB] md:flex md:flex-wrap">    
      <!-- Image Container Div -->
                  <div class="w-[100%] flex justify-center md:flex md:justify-start md:w-[40%] lg:w-[25%] sm:mb-[20px] lg:mb-[0px]">
                    <img class="image md:block"src="../../../assets/img/illustrations/icon/Capture.PNG"  alt="">
                  </div>
    <!-- Information Container Div -->
                  <div class="w-[100%] md:w-[60%] lg:w-[50%] sm:w-[100%]">
    <!-- Left Item Div -->
                      <div class="flex justify-around">    
                          <div class="">  
                              <div class="pb-4 leading-8">
                                  <h3 class="text-[#A7A7A7]">First Name</h3>
                                  <h3 class="text-black font-bold">{{userInfo.data.first_name}}</h3>
                              </div>
                              <div class="leading-8">
                                   <h3 class="text-[#A7A7A7]">Email Address</h3>
                                  <h3 class="text-black font-bold">{{userInfo.data.email}}</h3>
                              </div>
                          </div>
    <!-- Right side Item Div -->
                          <div class="">
                              <div class="pb-4 leading-8">
                                  <h3 class="text-[#A7A7A7]">Last Name</h3>
                                  <h3 class="text-black font-bold">{{userInfo.data.last_name}}</h3>
                              </div>
                              <div class="leading-8">
                                  <h3 class="text-[#A7A7A7]">Contact No</h3>
                                  <h3 class="text-black font-bold">{{userInfo.data.phone}}</h3>
                              </div>
                          </div>
                      </div>
                   </div>
    <!-- Button Div -->
                  <div class="w-[100%] mt-[30px] lg:mt-[0px] sm:w-[100%] lg:w-[25%]">
                    <div class="lg:flex lg:justify-end md:flex md:justify-start flex justify-center">
                      <button class="btn ">Change Passward</button>
                    </div>
                  </div>
    <!-- Basic Infromation Div items end -->
      </div>
  
    <!-- Resource Infromation Start -->
                <h1 class="text-xl mt-[44px]  text-dark tracking-wider font-semibold">
                    Resource Information
                </h1>
    <!--Role & Resources Bar  -->
                <div class="flex mt-[36px]  text-dark font-semibold bg-[#F0F5FF] py-4 ">
                  <h3 class="w-[35%] px-4">Role</h3>
                  <h3 class="w-[75%]">Resource</h3>
                </div> 

                  <div class="mt-[34px] mb-[10px] w-full flex">
                    <div class="sm:pl-[20px] pl-[15px] w-[35%] font-[400] text-[16px] text-[#4164A9]">
                      SUPERADMIN
                    </div>
                    <div class=" w-[75%] flex overflow-x-auto md:flex-wrap gap-2">
                        <div *ngFor="let item of superadminresponsibilityarray" class=" flex flex-wrap">
                          <div class="superAdminRoles">{{item}}</div>
                        </div>
                    </div>
                  </div>

                  <div class="mt-[34px] w-full flex  pb-[10px]">
                    <div class="sm:pl-[20px] pl-[15px] w-[35%] font-[400] text-[16px] text-[#4164A9]">
                      ADMIN
                    </div>
                    <div class=" w-[75%] flex md:flex-wrap  overflow-x-auto gap-2">
                        <div *ngFor="let item of adminresponsibilityarray" class=" flex flex-wrap">
                          <div class="Adminroles">{{item}}</div>
                        </div>
                    </div>
                  </div>

                  <div class="mt-[34px] w-full flex pb-[10px]">
                    <div class="sm:pl-[20px] pl-[15px] w-[35%] font-[400] text-[16px] text-[#4164A9]">
                      VIEWER
                    </div>
                    <div class="w-[75%] flex md:flex-wrap  overflow-x-auto gap-2">
                      <div *ngFor="let item of viewerresponsibilityarray" class=" flex flex-wrap">
                        <div class="viewerRoles">{{item}}</div>
                      </div>
                    </div>
                  </div>
  </div>                
</div>                  
          
   