<div class="kc-form kc-attach-company">
  <mat-card class="registration-form">
    <div>
      <h1 class="text-lg m-8 text-white tracking-wider font-semibold">
        My Profile
      </h1>
    </div>
    <div class="m-7">
      <div
        class="w-full h-full"
        gdColumns="1fr 1fr 1fr 1fr"
        gdColumns.md="1fr 1fr 1fr"
        gdColumns.lt-md="1fr 1fr"
        gdColumns.lt-sm="1fr"
        gdColumns.lt-xs="1fr"
        gdGap="20px"
      >
        <div class="cluster-card">
          <div class="flex gap-5 items-center pl-3 py-1">
            <div class="flex flex-col gap-1">
              <h1 class="text-xs font-bold tracking-wider text-dark-text-label">
                First Name
              </h1>
              <h1 class="text-base tracking-wider">
                {{ userInfo.data.first_name }}
              </h1>
            </div>
          </div>
        </div>
        <div class="cluster-card">
          <div class="flex gap-5 items-center pl-3 py-1">
            <div class="flex flex-col gap-1">
              <h1 class="text-xs font-bold tracking-wider text-dark-text-label">
                Last Name
              </h1>
              <h1 class="text-base tracking-wider">
                {{ userInfo.data.last_name }}
              </h1>
            </div>
          </div>
        </div>
        <div class="cluster-card">
          <div class="flex gap-5 items-center pl-3 py-1">
            <div class="flex flex-col gap-1">
              <h1 class="text-xs font-bold tracking-wider text-dark-text-label">
                Email
              </h1>
              <h1 class="text-base tracking-wider">
                {{ userInfo.data.email }}
              </h1>
            </div>
          </div>
        </div>
        <div class="cluster-card">
          <div class="flex gap-5 items-center pl-3 py-1">
            <div class="flex flex-col gap-1">
              <h1 class="text-xs font-bold tracking-wider text-dark-text-label">
                Password
              </h1>
              <h1 class="text-base tracking-wider">************</h1>
            </div>
          </div>
        </div>
        <div class="cluster-card">
          <div class="flex gap-5 items-center pl-3 py-1">
            <div class="flex flex-col gap-1">
              <h1 class="text-xs font-bold tracking-wider text-dark-text-label">
                Phone Number
              </h1>
              <h1 class="text-base tracking-wider">
                {{ userInfo.data.phone }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-0 sm:ml-7 full flex justify-center sm:block">
      <button
        class="px-7 py-3 bg-dark-background-5 border-[1px] hover:bg-[#1A2C4A] transition duration-300 border-[#495c7d] rounded-md"
        routerLink="/user-profile/reset-password"
      >
        Change Password
      </button>
    </div>
  </mat-card>
</div>
